@import '../abstract/variables';

nav {
    display: flex;
    justify-content: space-between;
    .logo {
        width: 20rem;
    }
    ul {
        a {
            text-decoration: none;
            
        }
    }
}