// Fontes
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Cores
$primary-color: #71C7AD;
$second-color: #BCE168;
$tertiary-color: #ED1756;
$quaternary-color: #3B3B3D;
$fifth-color: #9DD6F2;
$sixth-color: #ffffff;
$seventh-color: #000000;